.welcome-message {
    text-align: center;
    margin-top: 20px;
  }
  
  #wrapper {
    margin-top: 40px;
  }
  
  ion-card {
    padding: 15px;
    margin-top: 20px;
  }
  
  .additional-info {
    margin-top: 10px;
    text-align: center;
  }
  