<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú de Bienvenida</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Perfil: {{ nombreAlmacenado }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuraciones</ion-label>
      </ion-item>

      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="assets/lg.png" alt="Logo"/>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <h1>Hola, bienvenido {{ nombreAlmacenado }}</h1>
        <ion-button expand="full" (click)="createPost()">Agregar Post</ion-button>
      </ion-card-content>
      <div id="gif">
        <img src="assets/cat-space.gif" alt="Logo"/>
      </div>
    </ion-card>
  </div>

  <ion-list>
    <ion-item *ngFor="let post of posts">
      {{ post.title }}
      <ion-button fill="outline" (click)="editPost(post.id)">Editar</ion-button>
      <ion-button fill="outline" color="danger" (click)="deletePost(post.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
