<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú de Bienvenida</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Perfil: {{ nombre_usuario }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuraciones</ion-label>
      </ion-item>

      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="assets/lg.png" alt="Logo"/>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <h1>Hola, bienvenido {{ nombre_usuario }}</h1>
      </ion-card-content>
      <div id="gif">
        <img 
          [src]="selectedQRCode || 'assets/cat-space.gif'" 
          alt="Código QR o GIF" 
          [style.width.px]="selectedQRCode ? 300 : null" 
          [style.height.px]="selectedQRCode ? 300 : null"
        />
      </div>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <h2>Generar QR para Secciones</h2>
      <ion-button *ngIf="selectedQRCode" (click)="resetToGif()">Deshacer</ion-button>
      <ion-list>
        <ion-item *ngFor="let section of sections">
          <ion-label>{{ section.subject }} - {{ section.name }}</ion-label>
          <ion-button (click)="generateQRCode(section)">Generar QR</ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  <ion-toolbar>
    <ion-title>Consultar Asistencia</ion-title>
  </ion-toolbar>
  <ion-content>
    <!-- Formulario para consultar asistencia -->
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-input [(ngModel)]="date" type="date"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Sección</ion-label>
      <ion-select [(ngModel)]="section">
        <ion-select-option *ngFor="let section of sections" [value]="section.name">
          {{ section.name }} - {{ section.subject }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-button expand="full" (click)="consultAttendance()">Consultar Asistencia</ion-button>
  
    <ion-list *ngIf="attendanceRecords.length > 0">
      <ion-item *ngFor="let record of attendanceRecords">
        <ion-label>
          <h2>Estudiante: {{ record.studentId }}</h2>
          <p>Fecha: {{ record.date | date: 'yyyy-MM-dd' }}</p>
          <p>Sección: {{ record.section }}</p>
          <p>Estado de Asistencia: {{ record.attendanceStatus }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    
    <!-- Mostrar un mensaje si no hay registros -->
    <ion-list *ngIf="attendanceRecords.length === 0">
      <ion-item>
        <ion-label>
          <h2>No se encontraron registros de asistencia</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
<style>
  .start-class-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
</style>
