<ion-content [fullscreen]="true" class="ion-padding">
  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="assets/lg.png" alt=""/>
      </div>
    </div>
  </div>

  <div class="reset-container">
    <ion-card class="form-wrapper">
      <ion-card-header>
        <ion-card-title>Recuperar Contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-input type="text" placeholder="Nombre de Usuario" required></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="recuperarPassword()">
          Recuperar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
