ion-content {
  --background: linear-gradient(135deg, #1a1a1a 30%, #666666 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    #header {
      text-align: center;
      margin-bottom: 20px;

      #app-bar {
        #logo {
          margin: 0 auto;
          max-width: 700px; /* Aumentar el tamaño */
          max-height: 700px; /* Aumentar el tamaño */
          background-color: #fff;
          border-radius: 20%;

          img {
            width: 100%;
            height: auto;
            border-radius: 20%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }

    .wrapper {
      .form-wrapper {
        padding: 20px;
        border-radius: 20px;
        background: linear-gradient(135deg, #444 30%, #222 100%); /* Fondo más oscuro */
        color: #fff; /* Texto blanco para contraste */
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);

        form {
          display: flex;
          flex-direction: column;
          gap: 15px;

          ion-item {
            --background: #555; /* Fondo oscuro para los inputs */
            --color: #fff; /* Texto blanco */
            --padding-start: 10px;
            --highlight-height: 0;
            --border-width: 0;
            --min-height: 50px;
            border-radius: 10px;
          }

          ion-button {
            margin-top: 10px;
            border-radius: 10px;
            font-weight: bold;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        .additional-info {
          text-align: center;
          margin-top: 20px;

          .forgot-password {
            color: #ffb800;
            font-size: 14px;
            font-weight: bold;

            &:hover {
              text-decoration: underline;
            }
          }

          .support-text {
            font-size: 12px;
            color: #ccc;

            a {
              color: #ffb800;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

/* Media Queries */
@media (min-width: 1024px) {
  ion-content .container {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  ion-content .container {
    padding: 10px;
  }

  #header #app-bar #logo img {
    max-width: 200px; /* Ajustar para móviles */
  }

  .form-wrapper {
    padding: 15px;
  }
}
