<ion-content [fullscreen]="true">
  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="assets/lg.png" alt="Logo"/>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-input 
            type="text" 
            placeholder="Usuario" 
            [(ngModel)]="nombreAlmacenado" 
            (ngModelChange)="actualizarUsuario($event)">
          </ion-input>
        </ion-item> 
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="onLogin()" (click)="guardarNombre()">
          Conectarse
        </ion-button>
        <div class="additional-info">
          <a [routerLink]="['/recuperarpass']" class="forgot-password">¿Olvidaste tu contraseña?</a>
          <p class="support-text">Si tienes problemas, contacta con <a href="#">soporte técnico</a>.</p>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
  </div>
</ion-content>
